<?php

class %%MODULE%%_%%ACTION_NAME%%SuccessView extends AgaviView
{
	/**
	 * Execute any presentation logic and set template attributes.
	 *
	 */
	public function execute(AgaviParameterHolder $parameters)
	{
		// set our template
		$this->setTemplate('%%ACTION_PATH%%Success');
		
		// send a 404 not found header
		$this->getResponse()->setHttpStatusCode('404');
		
		// create a new AgaviPhpRenderer and return that
		// reason: these actions should work even if the user changes his output type to use Smarty or whatever
		$renderer = new AgaviPhpRenderer();
		$renderer->initialize($this->context, array());
		$renderer->setView($this);
		return $renderer;
	}
}

?>