[module]

    ENABLED     = "On"
    TITLE       = "%%MODULE%% Agavi Module"
    VERSION     = ""
    NAME        = "%%MODULE%%"
    AUTHOR      = ""
    HOMEPAGE    = ""
    UPDATE_URL  = ""
    DESCRIPTION = ""
