<?php

class %%MODULE%%_%%ACTION_NAME%%Action extends AgaviAction
{
	public function execute(AgaviRequestDataHolder $rd)
	{
		// remove this execute() method and create executeRead() and executeWrite() methods or equivalents
		throw new Exception('%%ACTION_NAME%%Action is not yet implemented. This is only an empty stub Action that serves as a reminder for you to do this :)');
	}

	public function getDefaultViewName()
	{
		return 'Success';
	}
}

?>