<?xml version="1.0" encoding="UTF-8"?>
<configurations xmlns="http://agavi.org/agavi/1.0/config">
	<configuration>

		<system_actions>

			<system_action name="default">
				<module>%%DEFAULT_MODULE%%</module>
				<action>%%DEFAULT_ACTION%%</action>
			</system_action>

			<system_action name="error_404">
				<module>%%404_MODULE%%</module>
				<action>%%404_ACTION%%</action>
			</system_action>

			<system_action name="login">
				<module>%%LOGIN_MODULE%%</module>
				<action>%%LOGIN_ACTION%%</action>
			</system_action>

			<system_action name="module_disabled">
				<module>%%DISABLED_MODULE%%</module>
				<action>%%DISABLED_ACTION%%</action>
			</system_action>

			<system_action name="secure">
				<module>%%SECURE_MODULE%%</module>
				<action>%%SECURE_ACTION%%</action>
			</system_action>

			<system_action name="unavailable">
				<module>%%UNAVAILABLE_MODULE%%</module>
				<action>%%UNAVAILABLE_ACTION%%</action>
			</system_action>

		</system_actions>

		<settings>
			<setting name="app_name">My Project</setting>

			<setting name="available">true</setting>
			<setting name="debug">false</setting>

			<setting name="use_database">false</setting>
			<setting name="use_logging">false</setting>
			<setting name="use_routing">true</setting>
			<setting name="use_security">true</setting>
			<setting name="use_translation">false</setting>
		</settings>

		<exception_templates>
			<exception_template>%core.agavi_dir%/exception/templates/shiny.php</exception_template>
			<exception_template context="console">%core.agavi_dir%/exception/templates/plaintext.php</exception_template>
		</exception_templates>

	</configuration>

	<configuration environment="development.*">
		<settings>
			<setting name="debug">true</setting>
		</settings>
	</configuration>

</configurations>