<?php

class %%MODULE%%_%%ACTION%%ActionTest extends UnitTestCase
{

	/**
	 * setUp runs before each testMethod()
	 */
	public function setUp()
	{
	}

	/**
	 * tearDown runs after each testMethod()
	 */
	public function tearDown()
	{
	}

	/**
	 * 
	 * If you need help getting started with unit testing, 
	 * Take a gander at our wiki page for some tips at:
	 * 	http://trac.agavi.org/trac.cgi/wiki/UnitTests 
	 * Also, feel free to ask questions in IRC #agavi on irc.freenode.net
	 * the forums at forums.agavi.org
	 * or the mailing list, see agavi.org for details.
	 */
	public function testHasTests()
	{
		$this->fail(__FILE__ . ' Has not been setup with valid unit tests.');
	}

}

?>
