<?php

// +---------------------------------------------------------------------------+
// | An absolute filesystem path to our webapp/config.php script.              |
// +---------------------------------------------------------------------------+
require_once('%%PATH_TO_PROJECT%%/config.php');

// +---------------------------------------------------------------------------+
// | An absolute filesystem path to the agavi/agavi.php script.                |
// +---------------------------------------------------------------------------+
require_once('%%PATH_TO_AGAVI%%/agavi.php');

// +---------------------------------------------------------------------------+
// | Get the default configured context, and call it's controller's dispatch   |
// | method.                                                                   |
// +---------------------------------------------------------------------------+
try {
	Context::getInstance()->getController()->dispatch();
} catch (AgaviException $e) {
	$e->printStackTrace();
} catch (Exception $e) {
	// unknown exception
	$e->printStackTrace(new AgaviException($e->getMessage()));
}
?>
