<?php

class %%MODULE%%_%%ACTION_NAME%%%%VIEW%%View extends AgaviView
{

	/**
	 * Execute any presentation logic and set template attributes.
	 *
	 */
	public function execute (AgaviParameterHolder $parameters)
	{

		// set our template
		$this->setTemplate('%%ACTION_PATH%%%%VIEW%%');

		// set the title
		$this->setAttribute('_title', '%%ACTION%% Action');

	}

}

?>