<?php

class %%MODULE%%_%%ACTION_NAME%%%%VIEW%%View extends AgaviView
{
	public function execute(AgaviRequestDataHolder $r)
	{
		$this->loadLayout();
		
		// set the title
		$this->setAttribute('_title', '%%ACTION%% Action');
	}
}

?>