<?php

class %%MODULE%%_%%ACTION_NAME%%SuccessView extends ProjectBaseView
{
	public function executeHtml(AgaviRequestDataHolder $rd)
	{
		// send a 404 not found header
		$this->getResponse()->setHttpStatusCode('404');
		
		$this->setAttribute('_title', '404 Not Found');
		
		$this->setupHtml($rd);
	}
}

?>